@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: light;
  default: true;
  --color-primary: #09213e;
  --color-primary-content: #ffffff;

  --color-secondary: #f59e0b;
  --color-secondary-content: #ffffff;

  --color-accent: #10b981;
  --color-neutral: #374151;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #1f2937;

  --color-info: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: dark;
  --color-primary: #facc15;
  --color-primary-content: #1e293b;

  --color-secondary: #3b82f6;
  --color-secondary-content: #ffffff;

  --color-accent: #10b981;
  --color-neutral: #9ca3af;

  --color-base-100: #1f2937;
  --color-base-200: #111827;
  --color-base-300: #0f172a;
  --color-base-content: #f3f4f6;

  --color-info: #60a5fa;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}

/* font-family: "Montserrat", sans-serif; */

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

* {
  font-family: "Inter", sans-serif;
}


